/application/node_modules
/public_html/hot
/public_html/storage
/application/storage/*.key
/application/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
/application/npm-debug.log
/application/yarn-error.log
/application/.env
/logs
/old_system
/old_backup
zzz.zip
/sessions
/upload_tmp_dir
/data