
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import 'bootstrap/scss/bootstrap';

body {
    margin: 43px 0 0 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    color: black;
    font-size: 18px;
    background-color: #F1F5FA;
}

.container {
    padding: 10px 15px 80px;
    max-width: 1200px;
    margin: 0 auto;
}

.banner {
    position: fixed;
    display: flex;
    color:#277098;
    background-color: #f5f7fb;
    border-bottom:1px solid rgba(39, 112, 152, 0.2);
    left: 0;
    right: 0;
    height: 43px;
    top: 0;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.banner {
    img {
        width: 30px;
        display: table-cell;
        margin: auto;
    }
}

.banner-content {
    vertical-align: middle;
    display: table;
    width: 100%;
    padding: 0 10px;
}

.row {
    width: 100%;
    height: 100%;
    display: table-row;
}

.column {
    display: table-cell;
    width: 33.33%;
    vertical-align: middle;
    position: relative;
}

.column.left {
    text-align: left;
}

.column.center {
    text-align: center;
}

.column.right {
    text-align: right;
}

.column.left img {
    float: left;
    height: 30px;
    width: unset;
}

.column.center img {
    box-shadow: 0 0 50px #3CBF71;
    border-radius: 100px;
}

.approve-form {
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(242, 245, 251, 0.9);
    background: linear-gradient(to bottom, rgba(242, 245, 251, 0), rgba(242, 245, 251, 1));
}

.terms-approve {
    background-color: #3CBF71;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    transition: all .2s;
    font-size: 16px;
    margin: auto;
    width: 100%;
    border: none;
    padding: 20px;
}

.terms-approve:disabled {
    color: #585858;
    background-color: buttonface;
}

.success {
    background-color: rgba(60, 191, 113, 1);
    border-radius: 500px;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 40px;
}

.success img {
    height: 160px;
    transition: 0.3s;
    transform: translateY(-30px) rotateZ(10deg);
}

.success h2 {
    margin: auto;
    transform: translateY(-30px);
    color: white;
}

h3.success-note {
    text-align: center;
}

.error {
    background-color: rgb(191, 60, 60);
    border-radius: 500px;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 40px;
    position: relative;
}

.error h2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}
h3.success-note {
    text-align: center;
}

.spacer {
    height:100px;
}

.content {
    padding:2em;
}